<template>
  <div class="container">
    <header>
      <router-link :to="{ path: $route.path == '/page1' ? '/page2' : '/page1'}">{{$route.path == '/page1' ? 'Go to page two' : 'Go to page one'}}</router-link>
    </header>
    <div class="page_context">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  header {
    height: 48px;
    background: #aaa;
    line-height: 48px;
  }
  .page_context {
    overflow: hidden;
    min-height: 200px;
    background: #FAEBD7;
  }

</style>
