<template>
  <div class="page1">
    <h2>page1</h2>
    <div class="input_area">
      <div class="input_item">
        <label for="text1">text input field one</label>
        <input type="text" placeholder="lease enter here" id="text1" v-model="context">
      </div>
      <div class="input_item">
        <label for="text2">text input field two</label>
        <input type="text" placeholder="lease enter here" id="text2" v-model="context">
      </div>
      <div class="input_item">
        <button @click="save">save</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page1',
  data () {
    return {
      context: this.$store.state.context
    }
  },
  methods: {
    save () {
      this.$store.commit('save', this.context)
    }
  }
}
</script>

<style scoped>
.input_area .input_item {
  height: 42px;
}
</style>
