<template>
  <div class="page2">
    <h2>page2</h2>
    <div class="input_area">
      <div class="input_item">
        <label for="text1">text input field one</label>
        <input type="text" placeholder="lease enter here" id="text1" v-model="context">
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'page2',
  data () {
    return {
      context: this.$store.state.context
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .input_area .input_item {
    height: 42px;
  }
</style>
